<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-cloud pr-3"></i>Weather forecast</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNAV">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNAV">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<h1>{{title}}</h1>
</div>


